/* a:hover {
  color: #EF4444;
} */

.banner-img {
  background-size: auto calc((130 - var(--bannerW)) * 1vh);
}

.banner-img-bgmove {
  --opacity: 0;
  /* background-size: auto calc((100 - var(--bannerW)*6)/100 * 100%); */
  /* width: calc((100 - var(--bannerW)*6)/100 * 100%); */
  width: calc((100 - var(--bannerW)*6)/100 * 100%);
  bottom: calc(var(--bannerW) * -20px);
  /* bottom: 0; */
  opacity: var(--opacity);
  transition: opacity .3s ease-in-out;
  clip-path: circle(40.5% at 49.5% 87.8%);
  /* clip-path: circle(calc(440px * (100 - var(--bannerW) * 6)/100) at 49.5% calc(100% - 97px * (100 - var(--bannerW)*26)/100)); */
}

.avatar {
  --opacity: 1;
  z-index: 10;
  top: calc(18% + var(--bannerW) * 0.05 * 100%);
  opacity: calc(1 - var(--bannerW)*15/100);
  /* transition: opacity .3s ease-in-out; */
}

.title-text, .name-text {
  /* animation-delay: 5s; */
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  word-break:break-all;
  width: 0;
  height: 3.75rem;
  line-height: 3.75rem;
  box-sizing: content-box;
  opacity: var(--title-opacity);
  /* --opacity: 1;
  opacity: calc(1 - var(--bannerW)*15/100);
  transition: opacity .3s ease-in-out; */
  margin-top: 0.3rem;
  font-family: 'FiraCode';
}

.title-box {
  top: calc(18% + 12rem);
  --title-blur: 100;
  --title-opacity: 0;
}

.title-container {
  filter: blur(calc(var(--title-blur) * 0.7px));
}

.typing-text {
  animation: 3s typing1 steps(9, jump-none) 6s forwards, 2s typing2 steps(10, jump-none) 11s forwards,  800ms cursor-trigger 6s 10;
  border-right: 6px solid rgba(255, 255, 255, 0);
}

@keyframes typing1 {
  from {
    width: 0ch;
  }
  to {
    width: 8ch;
  }
}

@keyframes typing2 {
  from {
    width: 8ch;
  }
  to {
    width: 17ch;
  }
}

.typing-text-name {
  animation: 1s typing3 steps(6, jump-none) 1s forwards, 2s typing4 steps(7, jump-none) 3s forwards,  800ms cursor-trigger 0s 8;
  border-right: 6px solid rgba(255, 255, 255, 0);
}

@keyframes typing3 {
  from {
    width: 0ch;
  }
  to {
    width: 5ch;
  }
}

@keyframes typing4 {
  from {
    width: 5ch;
  }
  to {
    width: 11ch;
  }
}

@keyframes cursor-trigger {
  0% {
    border-right-color: rgba(255, 255, 255, 1);
  }
  100% {
    border-right-color: rgba(255, 255, 255, 0);
  }
}

.post-card {
  --list-shade: 0;
  border-radius: 0.375rem;
  transition: all .25s ease-in-out;
  box-shadow: 
    calc(var(--list-shade) * 6px)
    calc(var(--list-shade) * 6px)
    calc(var(--list-shade) * 12px)
    #a8a8a8,
    calc(var(--list-shade) * -6px)
    calc(var(--list-shade) * -6px)
    calc(var(--list-shade) * 12px)
    #ffffff;
}
/* #111827,  */
/* #374151; */
.post-card:hover {
  box-shadow: 
    6px
    6px
    12px
    #a8a8a8,
    -6px
    -6px
    12px
    #ffffff;
}

.dark .post-card {
  --list-shade: 0;
  border-radius: 8px;
  transition: all .25s ease-in-out;
  box-shadow: 
    calc(var(--list-shade) * 6px)
    calc(var(--list-shade) * 6px)
    calc(var(--list-shade) * 12px)
    #1F2937,
    calc(var(--list-shade) * -6px)
    calc(var(--list-shade) * -6px)
    calc(var(--list-shade) * 12px)
    #6B7280;
}
/* #111827,  */
/* #374151; */
.dark .post-card:hover {
  box-shadow: 
    6px
    6px
    12px
    #1F2937,
    -6px
    -6px
    12px
    #6B7280;
}

.post-content::before {
  content: '"';
  position: absolute;
  font-size: 3rem;
  line-height: 3rem;
  left: 0;
  color: #9ca3af;
}

.dark .post-content::before {
  color: #6b7280;
}